<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>tolelom</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../grammer.css" />
  </head>
  <body>
    <div class="nav">
      <div>
        <img
          src="../img/king.jpg"
          class="logo"
          onclick="location.href='/'"
          style="cursor: pointer"
        />
      </div>
      <div class="tolelom" onclick="location.href='/'" style="cursor: pointer">
        tolelom
      </div>

      <div class="nav-items-left">
        <div
          class="nav-item"
          onclick="location.href='/editor'"
          style="cursor: pointer"
        >
          에디터
        </div>
        <div
          class="nav-item"
          onclick="location.href='/grammer'"
          style="cursor: pointer"
        >
          문법
        </div>
        <div
          class="nav-item"
          onclick="location.href='/guest'"
          style="cursor: pointer"
        >
          방명록
        </div>
        <div class="nav-item">
          <img src="../img/search.jpg" class="search" />
        </div>
      </div>
      <div class="nav-items-right">
        <div
          class="nav-item"
          onclick="location.href='/login'"
          style="cursor: pointer"
        >
          로그인
        </div>
      </div>
    </div>
    <aside class="sidebar">
      <div
        class="side-title"
        onclick="location.href='/grammer'"
        style="cursor: pointer"
      >
        📘 tolelom 기본 문법
      </div>
      <ul>
        <li class="menu">
          <a href="/grammer/10">1. tolelom 맛보기</a>
          <ul>
            <li><a href="/grammer/11">1.1 안녕, 세상아!</a></li>
            <li><a href="/grammer/12">1.2 변수와 사칙연산</a></li>
            <li><a href="/grammer/13">1.3 기본 규칙</a></li>
          </ul>
        </li>
        <li class="menu">
          <a href="/grammer/20">2. 데이터 타입</a>
          <ul>
            <li><a href="/grammer/21">2.1 자료형</a></li>
          </ul>
        </li>
        <li class="menu">
          <a href="/grammer/30">3. 제어 구조</a>
          <ul>
            <li><a href="/grammer/31">3.1 조건문</a></li>
            <li><a href="/grammer/32">3.2 반복문</a></li>
          </ul>
        </li>
        <li class="menu">
          <a href="/grammer/40">4. 함수</a>
          <ul>
            <li><a href="/grammer/41">4.1 함수</a></li>
          </ul>
        </li>
        <li class="menu">
          <a href="/grammer/50">5. 객체지향</a>
          <ul>
            <li><a href="/grammer/51">5.1 클래스</a></li>
          </ul>
        </li>
      </ul>
    </aside>
    <div class="main">
      <!--제목1-->
      <h1><%= data.title1 %></h1>
      <hr />
      <!--본문1-->
      <% if (typeof data.body1 !== 'undefined' ) { %>
      <pre><%= data.body1 %></pre>
      <br />
      <% } %>
      <!--코드1-->
      <% if (typeof data.code1 !== 'undefined' ) { %>
      <br />
      <pre class="code"><%= data.code1 %></pre>
      <br />
      <% } %>
      <!--표1-->
      <% if (typeof data.table1 !== 'undefined' ) { %>
      <br />
      <table>
        <tr>
          <th>키워드</th>
          <th>자료형 설명</th>
          <th>예시</th>
        </tr>
        <tr>
          <td>정수</td>
          <td>정수 형태의 숫자를 나타냅니다.</td>
          <td>1, 2, 100</td>
        </tr>
        <tr>
          <td>실수</td>
          <td>실수 형태의 숫자를 나타냅니다.</td>
          <td>1.1, 3.14</td>
        </tr>
        <tr>
          <td>문자열</td>
          <td>문자의 나열을 나타냅니다.</td>
          <td>“철수”, “이것은 톨레롬”</td>
        </tr>
        <tr>
          <td>불리언</td>
          <td>참, 거짓을 나타낼 때 사용하는 자료형</td>
          <td>참, 거짓</td>
        </tr>
      </table>
      <br />
      <br />
      <% } %>
      <!--본문2-->
      <pre><%= data.body2 %></pre>

      <!--소제목1-->
      <% if (typeof data.subtitle1 !== 'undefined') { %>
      <h3><%= data.subtitle1 %></h3>
      <% } %>
      <!--소본문1-->
      <pre><%= data.subbody1 %></pre>
      <!--소코드1-->
      <% if (typeof data.subcode1 !== 'undefined') { %>
      <br />
      <pre class="code"><%= data.subcode1 %></pre>
      <br />
      <% } %>
      <!--소본문11-->
      <pre><%= data.subbody11 %></pre>

      <!--소제목2-->
      <% if (typeof data.subtitle2 !== 'undefined') { %>
      <br />
      <h3><%= data.subtitle2 %></h3>
      <% } %>
      <!--소본문2-->
      <pre><%= data.subbody2 %></pre>
      <!--소코드2-->
      <% if (typeof data.subcode2 !== 'undefined') { %>
      <br />
      <pre class="code"><%= data.subcode2 %></pre>
      <br />
      <br />
      <% } %>

      <!--소본문3-->
      <pre><%= data.subbody3 %></pre>
      <!--소코드3-->
      <% if (typeof data.subcode3 !== 'undefined' ) { %>
      <br />
      <pre class="code"><%= data.subcode3 %></pre>
      <br />
      <% } %>
      <!--소본문4-->
      <pre><%= data.subbody4 %></pre>

      <br />
    </div>
    <div style="height: 200px"></div>
  </body>
  <script></script>
</html>
